In [127]:
import pandas as pd
import matplotlib.pyplot as plt

In [128]:
df_full = pd.read_csv("dataset.csv")
df = df_full.copy()

In [129]:
df.head()

,Gender,Age,Debt,Married,BankCustomer,Industry,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,Approved
0,1,30.83,0.000,1,1,Industrials,White,1.25,1,1,1,0,ByBirth,202,0,1
1,0,58.67,4.460,1,1,Materials,Black,3.04,1,1,6,0,ByBirth,43,560,1
2,0,24.50,0.500,1,1,Materials,Black,1.50,1,0,0,0,ByBirth,280,824,1
3,1,27.83,1.540,1,1,Industrials,White,3.75,1,1,5,1,ByBirth,100,3,1
4,1,20.17,5.625,1,1,Industrials,White,1.71,1,0,0,0,ByOtherMeans,120,0,1

In [130]:
print("Possui valores vazios: {}".format(df.isnull().values.any()))

Possui valores vazios: False

In [131]:
df = df.drop(columns=["Ethnicity"])

In [132]:
df['Citizen'].unique()

array(['ByBirth', 'ByOtherMeans', 'Temporary'], dtype=object)

In [133]:
#Altera label da coluna Industry
citizen_map = {'ByBirth':0, 'ByOtherMeans':1, 'Temporary':2}

In [134]:
df['Citizen'] = df['Citizen'].map(citizen_map)
df['Citizen']

0      0
1      0
2      0
3      0
4      1
      ..
685    0
686    0
687    0
688    0
689    0
Name: Citizen, Length: 690, dtype: int64

In [135]:
df.head()

,Gender,Age,Debt,Married,BankCustomer,Industry,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,Approved
0,1,30.83,0.000,1,1,Industrials,1.25,1,1,1,0,0,202,0,1
1,0,58.67,4.460,1,1,Materials,3.04,1,1,6,0,0,43,560,1
2,0,24.50,0.500,1,1,Materials,1.50,1,0,0,0,0,280,824,1
3,1,27.83,1.540,1,1,Industrials,3.75,1,1,5,1,0,100,3,1
4,1,20.17,5.625,1,1,Industrials,1.71,1,0,0,0,1,120,0,1

In [154]:
#Altera label da coluna Industry
label_names = df['Industry'].unique()
index_labels = list(range(len(label_names)))
df['Industry'] = df['Industry'].map(dict(zip(label_names, index_labels)))
df['Industry']

0       0
1       1
2       1
3       0
4       0
       ..
685    10
686     6
687    12
688    11
689     6
Name: Industry, Length: 690, dtype: int64

In [155]:
df.head()

,Gender,Age,Debt,Married,BankCustomer,Industry,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,Approved
0,1,30.83,0.000,1,1,0,1.25,1,1,1,0,0,202,0,1
1,0,58.67,4.460,1,1,1,3.04,1,1,6,0,0,43,560,1
2,0,24.50,0.500,1,1,1,1.50,1,0,0,0,0,280,824,1
3,1,27.83,1.540,1,1,0,3.75,1,1,5,1,0,100,3,1
4,1,20.17,5.625,1,1,0,1.71,1,0,0,0,1,120,0,1

In [156]:
import sklearn as sk
sk.__version__

'0.24.1'